name: CI

on:
  push:
    branches: [main, ci-test]
  pull_request:
    branches: [main, ci-test]
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    name: Foundry Tests
    runs-on: ubuntu-latest
    steps:
  
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Show Foundry version
        run: |
          forge --version
        
      - name: Install dependencies
        run: forge soldeer install

      - name: Check Solidity formatting
        run: forge fmt --check
        continue-on-error: true

      - name: Build contracts
        run: forge build

      - name: Run tests (gas report + summary)
        run: forge test --gas-report --summary
